<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- pagination -->

    <div th:fragment="pagination(page)">

        <div th:if="${page.show}" class="d-flex justify-content-end">
            <a th:href="@{${page.url}(page=0)}" th:classappend="${page.first} ? 'disabled'" class="btn btn-outline-secondary me-1">
                <i class="bi-skip-backward"></i>
            </a>
            <a th:href="@{${page.url}(page= ${page.current -1})}" th:classappend="${page.first} ? 'disabled'" class="btn btn-outline-secondary me-1">
                <i class="bi-skip-start"></i>
            </a>
            <a th:each="pageNum : ${page.pages}"
               th:text="${pageNum + 1}"
               th:href="@{${page.url}(page=${pageNum})}"
               th:classappend="${page.current == pageNum} ? 'disabled btn-secondary' : 'btn-outline-secondary' "
               class="btn me-1">
                1
            </a>
            <a th:href="@{${page.url}(page = ${page.current + 1})}" th:classappend="${page.last} ? 'disabled'" class="btn btn-outline-secondary me-1">
                <i class="bi-skip-end"></i>
            </a>
            <a th:href="@{${page.url}(page = ${page.total - 1 })}" th:classappend="${page.last} ? 'disabled'" class="btn btn-outline-secondary me-1">
                <i class="bi-skip-forward"></i>
            </a>
        </div>
    </div>

    <!-- Balance details list -->

    <div th:fragment="balanceDetailsList( dto, readonly )" class="card" >
        <div class="card-header bi-list-check" > Details List </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Item Name</th>
                    <th class="text-end">Unit Price</th>
                    <th class="text-end">Quantity</th>
                    <th class="text-end">Price</th>
                    <th th:unless="${readonly}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item , rowNum : ${dto.validItems}" class="align-middle">
                    <td th:text="${rowNum.index + 1}">1</td>
                    <td th:text="${item.item}">Java Basic Online</td>
                    <td th:text="${#numbers.formatInteger(item.uniPrice,1,'COMMA')}" class="text-end"> 150,000</td>
                    <td th:text="${item.quantity}" class="text-end"> 3 </td>
                    <td th:text="${#numbers.formatInteger(item.uniPrice * item.quantity,1,'COMMA')}" class="text-end" > 450,000 </td>
                    <td th:unless="${readonly}" class="text-end">
                        <a th:href="@{/user/balance-edit/item(index=${rowNum.index})}" class="btn btn-link">
                            <i class="bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot th:if="${readonly}">
                    <tr class="text-end">
                        <td colspan="3" >Total</td>
                        <td th:text="${#numbers.formatInteger(dto.totalCount , 1 ,'COMMA')}"></td>
                        <td th:text="${#numbers.formatInteger(dto.total , 1 , 'COMMA')}"></td>
                        <td th:unless="${readonly}"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>