<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/authenticate.html}">
<head>
    <meta charset="UTF-8">
    <title>Balance Report</title>
</head>
<body>

   <div layout:fragment="content">
   <!-- Search Box -->
       <div class="card">
           <div class="card-header"><i class="bi-bar-chart"></i>Balance Report</div>

           <div class="card-body">

               <form action="#" class="row" >
                   <div class="col-3">
                       <select name="type" id="type" class="form-select">
                            <option value="">All Type</option>
                            <option th:selected="${#strings.equals(param.type,type)}" th:each="type : ${balanceType}" th:value="${type}"
                            th:text="${type}">Incomes</option>

                       </select>
                   </div>
                   <div class="col-auto">
                       <input type="date" th:value="${param.dateFrom}" name="dateFrom" id="dateFrom" class="form-control" />
                   </div>
                   <div class="col-auto">
                       <input type="date" th:value="${param.dateTo}" name="dateTo" id="dateTo" class="form-control"/>
                   </div>
                   <div class="col-auto">
                       <button class="btn btn-primary "><i class="bi-search "></i> Search</button>
                   </div>
               </form>
           </div>
       </div>

   <!-- Result Table -->
       <table class="table table-striped mt-4">
           <thead>
             <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Category</th>
              <th class="text-end">Incomes</th>
              <th class="text-end">Expenses</th>
              <th class="text-end">Balance</th>
             </tr>
           </thead>
           <tbody>
              <tr th:each="lists : ${list}">
                <td th:text="${#temporals.format(lists.date,'yyyy-MM-dd')}">2022/05/18</td>
                <td th:text="${lists.type}">Income</td>
                <td th:text="${lists.category}">Java Basic Student Fees</td>
                <td th:text="${#numbers.formatInteger(lists.income , 1 , 'COMMA')}" class="text-end" >150000</td>
                <td th:text="${#numbers.formatInteger(lists.expense, 1 , 'COMMA')}" class="text-end"></td>
                <td th:text="${#numbers.formatInteger(lists.balance , 1 , 'COMMA')}" class="text-end">15000000</td>
              </tr>
           </tbody>
       </table>

   </div>


</body>
</html>