<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layouts/authenticate.html}">
<head>
    <meta charset="UTF-8">
    <title>Balance Details</title>
</head>
<body>

     <div layout:fragment="content">
        <div class="card">
            <div class="card-header"> Balance Details </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                           <span class="form-control" th:text="${#temporals.format(vo.header.date,'yyyy-MM-dd')}">2022/10/11</span>
                    </div>
                    <div class="col-auto">
                        <span th:text="${vo.header.type}" class="form-control">Incomes</span>
                    </div>
                    <div class="col-4">
                        <span th:text="${vo.header.category}" class="form-control">Student Registration</span>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/user/balance-edit(id=${id})}" class="btn btn-primary" >Edit Details</a>
                        <a th:href="@{/user/balance/delete{id}(id=${vo.header.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

         <div th:replace="~{fragments/components :: balanceDetailsList(${vo} , false )}"></div>
     </div>
</body>
</html>