<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/authenticate.html}">
<head>
    <meta charset="UTF-8">
    <title>Denied Page</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="card">
            <div class="card-header">Access Denied</div>
            <div class="card-body">
                You can't access this url
                <br>
                Your role is Member
            </div>
        </div>
    </div>
</body>
</html>