<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/authenticate.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">

            <div class="row" th:object="${user}">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                         <i class="bi-person-circle"></i>
                            Profile
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi-person"></i>
                                </span>
                                <span th:text="*{name}" class="form-control">User Name</span>
                            </div>
                            <div class="input-group mt-1">
                                <span class="input-group-text">
                                    <i class="bi-lock"></i>
                                </span>
                                <span th:text="*{loginId}" class="form-control">Login Id</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                           <span>
                               <i class="bi-cursor"></i> Contact
                           </span>

                            <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal" class="bi-pencil "></a>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi-telephone"></i>
                                </span>
                                <span th:text="*{phone} ?: 'Undefined'" class="form-control">Phone</span>
                            </div>
                            <div class="input-group mt-1">
                                <span class="input-group-text">
                                    <i class="bi-envelope"></i>
                                </span>
                                <span th:text="*{email} ?: 'Undefined'" class="form-control">Email</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        <div class="card mt-3">
            <div class="card-header"><i class="bi-door-open"></i> Access Log</div>
            <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Access Time</th>
                                <th>Access Type</th>
                                <th>Error Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" logs : ${list}">
                                <td th:text="${#temporals.format(logs.accessTime,'yyyy-MM-dd HH:mm:ss')}">2022/04/15</td>
                                <td th:text="${logs.accessType}">SignOut</td>
                                <td th:text="${logs.errorMessage}">Error Message</td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:include="~{fragments/components :: pagination(${pagination})}"></div>
            </div>
         </div>
        <div th:replace="~{fragments/modals :: #contactModal}"></div>
     </div>

</body>
</html>